# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

data/icons/* merge=ours
data/items/* merge=ours
data/monsters/* merge=ours

docs/monsters-json/* merge=ours
docs/monsters-complete.json merge=ours

osrsreboxed/docs/monsters-complete.json merge=ours

